table {
    width: 100%;
}

th {
    background-color: #5999d2;
    font-size: 15px;
}

.inline-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    /* max-width: 300px;
  margin: auto; */
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translate(-40%, 0%);
}